body
{
  background-color:#ffb4ac;
}
 div
{
  background-color: white;
  width: 40%;
  position: absolute;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 450px;
  box-shadow: 8px 8px 6px #ff80aa , -0.5em -0.5em 0.9em   #ff80aa ;

}
.caption
{
  margin: 15px;
  font-size: 32px;
  color:#1f6650;
    font-family: 'Gamja Flower', cursive;
     margin-left: 38%;
}
 td
 {
   padding: 3%;
   background-color:#1f6650;
   border-radius: 12px;
   font-size: 16px;
 }
 .head1
 {
   width: 47%;

 }
 .head2
 {
   width: 53%;
 }
table
{
color:  #eafbea;
border-collapse:  separate;
border-spacing: 10px;
font-family: 'Do Hyeon', sans-serif;


width: 100%;
}
input[type=text]
{
  width: 100%;
  background-color: #1f6650;
   border:none;
   outline: none;
}
input[type=email]
{
  width: 100%;
  background-color: #1f6650;
  border:none;
  outline: none;

}
input[type="number"]
{
  width: 100%;
  background-color: #1f6650;
  border:none;
  outline: none;

}
 a
{
width: 100%;
}
::placeholder
{
   color:  #eafbea;
   font-family: 'Do Hyeon', sans-serif;
   font-size: 16px;
   opacity: 0.7;
}
::placeholder:focus
{
visibility: collapse;
}

/* button */

.btn
{
  margin: 10px 0;
}
